{
  "arrowParens": "always",
  "bracketSameLine": false,
  "objectWrap": "collapse",
  "bracketSpacing": true,
  "semi": true,
  "experimentalOperatorPosition": "start",
  "experimentalTernaries": true,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "quoteProps": "as-needed",
  "trailingComma": "all",
  "singleAttributePerLine": true,
  "htmlWhitespaceSensitivity": "css",
  "vueIndentScriptAndStyle": false,
  "proseWrap": "always",
  "endOfLine": "lf",
  "insertPragma": false,
  "printWidth": 110,
  "requirePragma": false,
  "tabWidth": 2,
  "useTabs": false,
  "embeddedLanguageFormatting": "auto"
}
