@import 'tailwindcss';

:root {
  --main-color: theme('colors.blue.700');
  --body-html-color: theme('colors.neutral.950');
  --secondary-color: theme('colors.neutral.900');
  --muted-color: theme('colors.neutral.800');
  --semi-muted-color: theme('colors.neutral.700');
  --inverted-text-color: #000000;
  --default-text-color: #ffffff;
  --duration: 250ms;
}

@font-face {
  font-family: Quicksand;
  src: url('/fonts/Quicksand-VariableFont_wght.ttf') format('truetype');
}

body,
html {
  font-family: Quicksand;
  background-color: var(--body-html-color);
  color: var(--default-text-color);
}

button,
input,
.link,
.nav-bar {
  appearance: none;
  outline: none;
  transition-property: border-color, background-color, box-shadow, width, gap;
  transition-duration: var(--duration);
  border-radius: 8px;
}

button,
input[type='submit'] {
  cursor: pointer;
}

input {
  height: 52px;
  padding: 12px;
}

form input:not([type='submit']) {
  border: solid 2px transparent;
  background-color: white;
  color: var(--inverted-text-color);

  &:focus {
    border: solid 2px var(--main-color);
  }
}

form input[type='submit'] {
  margin-top: 32px;
  background-color: var(--main-color);
  box-shadow: transparent 0 0 0 0;
  color: white;

  &:hover {
    box-shadow: var(--main-color) 4px 4px;
    background-color: var(--muted-color);
  }
}
